ul
{
  display:flex;  
  list-style:none;
  text-align: center;
}

li
{
  padding: 2%;
}

a
{
  text-align: center;
  color: black;
  border-radius: 10px;
}

a.active
{
  background-color:  #8ccabe;
  color: white;
  border-radius: 10px;
}